$branco: #FFF;
$branco-2: #FAFAFA;
$cinza: #87879D;

$azul: #4D96A9;
$azul-claro: #8FE3F9;
$azul-claro-hover: #71C0D4;
$azul-escuro: #28283D;

$roxo: #855FB1;
$roxo-claro: #D9B8FF;
$roxo-claro-hover: #B18BDD;